.welcome {
	background: url('../images/loginback.jpg');
	background-size: cover;
	height: 800px;
}

.login_form {
	background: rgba(255,255,255,0);
}

.pointer {
	cursor: pointer;
}

.loginBtn {
	width: 100%;
	background: rgba(255,255,255,0.7);	
	border-radius: 14px;
	height: 40px;
	font-size: 150%;
	text-align: center center;
	z-index: 1;
}

.bold {
	font-weight: bold;
}

input {
	background: rgba(255,255,255,0) !important;
	border: none !important;
	border-bottom: 2px solid white !important;
	width: 100%;
	height: 40px;
	font-size: 150% !important;
	color: white !important;
}

input::placeholder { /* Chrome/Opera/Safari */
  color: white !important;
  opacity: 1 !important;
  font-size: 150%;
  text-align: left;
}